@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    min-height: 0;
}

#imagemDeFundo2 {
    background-image: url("Componentes/imgs/pattern-quotes.svg");
    background-repeat: no-repeat;
}

h1 {
    min-width: 300px;
    max-width: 600px;
    font-size: xx-small;
}

@media (min-width:1200px) {
    #imagemDeFundo {
        width: 650px;
    }

    #curva {
        width: 24%;
    }

    h1{
        text-transform: capitalize;
    }
}